[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
m2r = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.7"
